* {
    box-sizing: border-box;
    background-color: #E2FDFF;
    font-family: 'Rockwell';
    font-size: medium;    
}

.comment-box {
    
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    height: auto;
    width: 50%;
    position: relative;
    padding: 2.5rem;
    box-shadow: 10px 5px 5px gray;
}




.comment-date {
    color: rgba(0, 0, 0, 0.966);
    font-weight: bold;
}

