.banner {
    background-color: #5dbaf7;
    height: auto;
    padding-top: 1em;
    margin-bottom: 10px;
}

.banner-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray; 
}

.logo {
    font-weight: bold;
    color: #9BB1FF;
    font-size: 2rem;
}

.logo2 {
    font-weight: bold;
    color: #9BB1FF;
    font-size: 1rem
}
